*.log
*.pyc
/.cache
/.coverage
/.eggs
/.idea
/.mypy_cache
/.tox
/electrumsv_secp256k1.egg-info
/build
/dist
/site
/wheelhouse
/pip-wheel-metadata

/electrumsv_secp256k1/_libsecp256k1.py
/electrumsv_secp256k1/libsecp256k1.dll
